# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# Testing
/frontend/coverage

# Next.js
/frontend/.next/
/frontend/out/

# Production
/frontend/build

# Misc
/frontend/.DS_Store
/frontend/*.pem

# Debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# Env files
/frontend/.env*

# Vercel
/frontend/.vercel

# TypeScript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts



















/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend.env
/backend.env.backup
/backend.env.production
/backend.phpunit.result.cache
/backendHomestead.json
/backendHomestead.yaml
/backendauth.json
/backendnpm-debug.log
/backendyarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode
